[submodule "vim/vim/bundle/pathogen"]
	path = vim/vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "zsh/zsh/rupa-z"]
	path = zsh/zsh/rupa-z
	url = https://github.com/rupa/z.git
[submodule "vim/vim/bundle/othree-html5-syntax"]
	path = vim/vim/bundle/othree-html5-syntax
	url = git@github.com:othree/html5-syntax.vim.git
[submodule "vim/vim/bundle/monokai-colorscheme"]
	path = vim/vim/bundle/monokai-colorscheme
	url = git@github.com:sickill/vim-monokai.git
[submodule "vim/vim/bundle/shougo-unite"]
	path = vim/vim/bundle/shougo-unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/vim/bundle/bling-airline"]
	path = vim/vim/bundle/bling-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/vim/bundle/shugo-vimproc"]
	path = vim/vim/bundle/shugo-vimproc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "vim/vim/bundle/tmux-navigator"]
	path = vim/vim/bundle/tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/vim/bundle/nvie-flake8"]
	path = vim/vim/bundle/nvie-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "vim/vim/bundle/exu-pgsql"]
	path = vim/vim/bundle/exu-pgsql
	url = git@github.com:exu/pgsql.vim.git
[submodule "vim/vim/bundle/nanotech-jellybeans"]
	path = vim/vim/bundle/nanotech-jellybeans
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "vim/vim/bundle/distinguished"]
	path = vim/vim/bundle/distinguished
	url = git@github.com:Lokaltog/vim-distinguished.git
[submodule "vim/vim/bundle/github-colo"]
	path = vim/vim/bundle/github-colo
	url = git@github.com:endel/vim-github-colorscheme.git
[submodule "vim/vim/bundle/railscasts-colo"]
	path = vim/vim/bundle/railscasts-colo
	url = git@github.com:jpo/vim-railscasts-theme.git
[submodule "vim/vim/bundle/python-syntax"]
	path = vim/vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule "vim/vim/bundle/python-pep8-indent"]
	path = vim/vim/bundle/python-pep8-indent
	url = git@github.com:hynek/vim-python-pep8-indent.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
