[submodule "vim/vim/bundle/pathogen"]
	path = vim/vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/vim/bundle/smyck-color-scheme/colors"]
	path = vim/vim/bundle/smyck-color-scheme/colors
	url = git@github.com:hukl/Smyck-Color-Scheme.git
[submodule "vim/vim/bundle/L9"]
	path = vim/vim/bundle/L9
	url = git@github.com:vim-scripts/L9.git
[submodule "vim/vim/bundle/FuzzyFinder"]
	path = vim/vim/bundle/FuzzyFinder
	url = git@github.com:vim-scripts/FuzzyFinder.git
